---
import MainLayout from "../layouts/MainLayout.astro";
import Prose from "../components/Prose.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<MainLayout title="Mina's Blog" description="My blog">
  <h1 class="font-bold text-2xl text-center m-auto">Mina</h1>
  <table class="border-collapse m-auto">
    <tr class="border-t-1">
      <th class="text-right pr-2">Pronouns</th>
      <td>she/they/YL</td>
    </tr>
    <tr class="border-t-1">
      <th class="text-right pr-2">Callsign</th>
      <td>KO6EWQ</td>
    </tr>
    <tr class="border-t-1">
      <th class="text-right pr-2">Grid</th>
      <td>CM98ho</td>
    </tr>
    <tr class="border-t-1">
      <th class="text-right pr-2">Zodiac</th>
      <td>Pisces ♓</td>
    </tr>
  </table>
  <p>Some Paragraph</p>
</MainLayout>
