---

---

<div
  class="prose
  dark:prose-invert
  prose-headings:text-latte-text
  dark:prose-headings:text-mocha-text
  prose-p:text-latte-text
  dark:prose-p:text-mocha-text
  mx-auto"
>
  <slot />
</div>
